
body {
  background-color: lightblue;
  border-color:pink
}

a {
  border-radius: 10px;
background-color: white;
padding: 20px;
border-color: lavender;
transition-duration: 0.4s;
}

head {
  background-color: red;
  border-color:green;
}
